In [9]:
import pandas as pd
import requests


response = requests.get('https://api.env.cs.i.nagoya-u.ac.jp/api/v2/?' \
                        'data=multi_env_sensor&format=json&' \
                        'start_date=2023-08-17&end_date=2023-08-18')

data = response.json()
data = pd.read_json(data)
data

,timestamp,temperature,humidity,pressure,uv intensity,luminous intensity
0,2023-08-17 00:00:43.083837,26.88,88.38,999,0.0,0.0
1,2023-08-17 00:01:43.323438,26.83,88.41,999,0.0,0.0
2,2023-08-17 00:02:43.403486,26.85,88.30,999,0.0,0.0
3,2023-08-17 00:03:43.481136,26.82,88.49,999,0.0,0.0
4,2023-08-17 00:04:43.649980,26.82,88.52,999,0.0,0.0
...,...,...,...,...,...,...
2867,2023-08-18 23:55:05.669443,25.85,88.29,1004,0.0,0.0
2868,2023-08-18 23:56:05.750782,25.88,88.25,1004,0.0,0.0
2869,2023-08-18 23:57:05.831007,25.84,88.26,1004,0.0,0.0
2870,2023-08-18 23:58:06.117146,25.83,88.37,1004,0.0,0.0
2871,2023-08-18 23:59:06.064250,25.82,88.30,1004,0.0,0.0